@font-face {
  font-family: Oswald;
  src: url(/fonts/Oswald-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Oswald;
}

body {
  color: #ffffff;
  background-color: #077187;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: start;
  width: 100%;
  background-color: #06a77d;
}

#title {
  margin-left: 2vh;
}

.input-box {
  background-color: #074f57;
  width: 40vh;
  height: 30vh;
}

.sidebar {
  width: 30vh;
  background-color: #074f57;
  position: absolute;
  height: 100%;
  overflow: auto;
  align-content: center;
  text-align: center;
  font-size: large;
}

.sidebar-item-margin {
  margin-left: 3vh;
}

/* EAC Field */

.number-field {
  font-size: 14px;
  position: static;
  border-top: 20px solid transparent;
}

.number-field input {
  border: none;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
}

.number-field input:focus {
  border: 3px solid #555;
}

/* Buttons */

.buttons button {
  margin: 3%;
  width: 30%;
  height: auto;
  background-color: #06a77d;
  color: white;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #74a57f;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4;
  transition: 0.4;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #74a57f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Main part */

.main-section {
  margin-left: 32vh;
  display: flex;
}

.main-section p {
  font-size: 20px !important;
}

.main-section div {
  width: 50%;
  height: 100%;
}
