@font-face {
  font-family: Oswald;
  src: url(/fonts/Oswald-VariableFont_wght.ttf);
}

* {
  font-family: Oswald;
}

body {
  color: #ffffff;
  background-color: #0c0032;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  background-color: #190061;
  margin: 5vh;
  border-radius: 10%;
  width: 40%;
  height: 30%;
}
